.border {
border: red solid 10pt;
}

.border-long{
    border-color: red;
    border-width: 10pt;
    border-style: dashed;
}

p{
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
}

.padding{
    border: blue solid 10pt;
    padding: 25px 50px 75px 100px;
}

.margin {
    border: green dashed 10px;
    padding: 50px;
    margin: 50px;
}

.margin-pt {
    border: orange solid 10px;
    padding: 30px;
    margin: auto;
}